<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de Snake Game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wallpaper-snake">
        <div class="voltar-quero-snake">
            <div class="thank-snake"><img src="/icon/obrigado-game.png"></div>
            <a href="index.html" class="quero-game">Voltar</a>
        </div>
    </div>
</body>
</html>