<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de Snake Game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wallpaper-snake">
        <div class="capa-snake">
            <div class="tema-snake"><img src="/icon/snake-game.png"></div>
            <a href="menu-3-snake.html" class="play-snake">Play</a>
        </div>
    </div>
</body>
</html>